<%- include('partials/header') %>
<div class=" col container lotani">
    <lottie-player src="https://assets10.lottiefiles.com/packages/lf20_msdmfngy.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;"  loop  autoplay></lottie-player>
    
</div>
<div class=" col home">
  
<!-- <div class="jumbotron centered"> -->
  <div class=" container centered">
    <h1 class="display-3"><b>SECRETS</b></h1>
    <p class="lead">Don't keep your secrets, share them anonymously!</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>
  </div>
</div>
<!-- </div>3 -->
<%- include('partials/footer') %>
 